*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}
 body{
    padding: 20px;
 }
h3{
    text-align: center;
    margin: 40px 0px;
}
form{
    width: 600px;
}
form .form-group{
 
    display: flex;
    flex-direction: column;

}
 form .form-group input{
   font-size: 16px;
   padding: 5px 10px;
   border: none;
   outline: none;
   background-color: #f1f1f1;
   border-radius: 2px;
   margin: 10px 0px;
}
.form-group label{
    font-weight: 800;
}

form .btn{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 500;

}