*{
    margin: 0;
    padding: 0;
     font-family: 'poppins';  

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  text-align: center;
  
}
.cards{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
   
}
.card{
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 15px;
    background-color: #fff;

   
}
.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.card h3{
    margin: 15px;
    font-size: #555;
}
.card p{
    font-size: 10px;
    color: #555;
}
button{
    background-color: #4b7bec;
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    margin: 10px;
    font-size: 17px;
    transition: 0.2s;

}
button:hover{
    background-color:#0652DD;
}
