*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
h2{
    margin: 30px;
}

button{
    margin: 30px;
    padding: 15px;
    border: none;
    outline: none;
    background-color:#0652DD ;
    color: #fff;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 500;
}
img{
    max-width: 100%;
    max-height: 500px;
    margin-top: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
}
