*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    
}
