
*{
    padding: 0;
    margin: 0;
    font-family: 'poppins';
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    color: #fff;
    background-image: url('./bg\ image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.counter{
    display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 30px;
      gap: 10px;
}
p{
    font-size: 15px;
}

.newyear{
    font-family: 'inspiration';
    font-size: 50px;
    font-weight: 400;
    margin-top: 30px;
}
.box{
    width: 50px;
    height: 50px;
    text-align: center;
    
}
.box h2{
    font-size: 20px;
}
.box small{
  font-size: 10px;   
}


 