*{
    font-family: 'poppins';
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
#heading{
    font-size: 18px;
    text-align: center;
    max-width: 500px;

}
#text{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}