*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
}
h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: blue;
}

button{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: #fff;
    width: 150px;
    font-size: 17px;
    transition: 0.2s;
}
button:hover{
    background-color: #0652DD;
}

img{
    max-width: 500px;
    max-height: 500px;
   
    outline: 5px solid deeppink;
    border-radius: 3px;
}