*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    margin-bottom: 20px;
    font-size: 30px;
    text-transform: capitalize;
}
button{
    padding: 10px;
    width: 150px;
    border:none ;
    outline: none;
    background-color: blue;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
}