*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.text{
    margin-bottom: 20px;
    font-size: 30px;
}
button{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #485460;
    color: #fff;
    width: 150px;
    font-size: 17px;
    font-weight: 600;
}