*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: red;
}

button{
    padding: 10px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 150px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background-color: blue;
}