*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box h2{
    margin-bottom: 30px;
    font-size: 30px;
}
button{
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
    background-color:#1e272e ;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
}