*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box h2{
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}
button{
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
    background-color:#1e272e ;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.2s;
    margin-left: 400px
   
}

#errormessage{
     color: red;
     margin-top: 20px;
     text-align: center;
}

button:hover{
background-color:#485460 ;
}
.cardbox{
    border-radius: 10px;
    width: 900px;
    padding: 30px;
    margin: 30px;
    margin-top: 40px;
    text-align: center;
    gap: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.box{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}