*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

button{
    width: 200px;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    background-color:#f53b57 ;
    color: #fff;
    border-radius: 5px;
    
}
h2{
    margin-bottom: 20px;
    font-size: 30px;
}

#randomimg{
    margin-top: 10px;
}

img{
    max-width: 500px;
    border-radius: 3px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
}