*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

button{
    width: 200px;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    background-color:#f53b57 ;
    color: #fff;
    border-radius: 5px;
    
}
h2{
    margin-bottom: 20px;
    font-size: 30px;
}

#randomimg{
    margin-top: 10px;
   
}

.images img{
    width: 100%;
   height: 200px;
   object-fit: cover;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
   border-radius: 5px;
  
}
.div{
    max-width: 600px;
    max-height: 400px;
   text-align: center;
}