*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

button{
    width: 200px;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    background-color:#f53b57 ;
    color: #fff;
    border-radius: 5px;
    
}
h2{
    margin-bottom: 20px;
    font-size: 30px;
}
